<div id="table" class="row"></div>
<div id="AddBlock">

    <div class=" form-group row">
        <label for="name" class="col-sm-3 col-form-label">Модель борудования</label>
        <input type="text" class="form-control" id="selectE">
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-3 col-form-label">Фирма борудования</label>
        <input type="text" class="form-control" id="selectH">
    </div>

    <div class="col">
        <button id="Add" class="btn btn-info">Добавить</button>
    </div>
</div>
@section scripts{
    <script src="http://www.datejs.com/build/date.js" type="text/javascript"></script>
    <script>
        $(document).ready(function () {
            Fill_all();

            $("#Add").click(function (event) {
                event.preventDefault();
                Add();
            });

        });


        function Fill_all() {
            $.ajax({
                url: '/api/Fil_Oboryd',
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    Fill_table(data);
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function Add() {

            var tr = {
                Model_oboryd : $('#selectE').val(),
                Firma_oboryd: $('#selectH').val(),

            };

            $.ajax({
                url: '/api/Oboryd_add',
                type: 'POST',
                data: JSON.stringify(tr),
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Fill_all();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }
        function Delete(id) {

            $.ajax({
                url: '/api/Oboryd_delete/' + id,
                type: 'DELETE',
                contentType: "application/json;charset=utf-8",
                success: function (data) {
                    Fill_all();
                },
                error: function (x, y, z) {
                    alert(x + '\n' + y + '\n' + z);
                }
            });
        }

        function DeleteItem(el) {
            var id = $(el).attr('data-item');
            Delete(id);
        }


        function Fill_table(data) {
            var strResult =
                "<table class='table'><th></th><th>ID</th><th>Модель борудования</th><th>Фирма борудования</th>";
            $.each(data, function (index, item) {

                strResult += " <tr><td><a id='delItem' data-item='" + item.Id + "' onclick='DeleteItem(this);' >Удалить</a></td>" +
                    " <td>" + item.Id + "</td><td> " + item.Firma_oboryd + "</td><td>" +
                    item.Model_oboryd+ "</td></tr>";
            });
            strResult += "</table>";
            $("#table").html(strResult);

        }
    </script>
}
